/* Глобальні параметри */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-collapse: collapse;
}

/* Шрифти */
@font-face {
    font-family: cursive;
    src: url('./fonts/CedarvilleCursive-Regular.ttf');
}

@font-face {
    font-family: fantasy;
    src: url('./fonts/AlumniSansPinstripe-Regular.ttf');
}

@font-face {
    font-family: monospase;
    src: url('./fonts/RobotoMono-VariableFont_wght.ttf');
}
/* Стилі загального DIVa */
#container {
    width: 75vw;
    margin: auto;
    margin-top: 50px;
}
/* Стилі вікна результату */
#result {
    width: 100%;
    height: 45%;
    background-color: #ececec;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 20px;
    line-height: 30px;
    z-index: auto;
}
/* Стилі вікна вибору між табоицею і списком */
#choose {
    font-family: monospace;
    width: 80%;
    height: auto;
    background-color: #ececec;
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px;
    line-height: 30px;
    z-index: auto;
    display: none;
}

input,
option {
    font-family: monospace;
}

#choose h1 {
    margin-bottom: 15px;
}

.borderStyle {
    display: flex;
    justify-content: stretch;
}

.borderStyle input {
    width: 30%;
    margin-left: 12px;
}

.borderStyle select {
    margin-left: 12px;
}
/* Стилізаця розміщення input */
.tableRow,
.tableDate,
.tableWidth,
.tableHeight,
.listCountTitle,
.typeMarksTitle {
    display: flex;
    justify-content: space-between;
}

.countTR,
.countTD,
.widthTD,
.heightTD,
.countLI,
.marksList {
    display: block;
    width: 83%;
    margin-bottom: 7px;
}

.colorBorderTitle {
    margin-left: 13%;
}

#createTableBtn, .createListBtn {
    padding: 3px;
    width: auto;
    color: white;
    background-color: green;
}

#createTableBtn:hover, .createListBtn:hover {
    box-shadow: 0px 0px 10px green;
}

.tableList {
    display: block;
}

#table {
    display: none;
}

#list {
    display: none;
}

.tableList button {
    display: none;
}

.title {
    margin-bottom: 10px;
    font-size: 15px;
}
/* Стилізація кнопкок загальна */
button {
    font-family: monospace;
    width: 40px;
    height: 25px;
    border: none;
    border-radius: 4px;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
/* Стилізація кнопки edit */
#edit {
    background-color: #ffd30e;
    margin-right: 2px;
}

#edit:hover {
    font-family: monospace;
    box-shadow: 0px 0px 10px #ffd30e;
}
/* Стилізація кнопки style */
#style {
    color: white;
    background-color: #1ec4f7;
    margin-left: 2px;
}

#style:hover {
    box-shadow: 0px 0px 10px #1ec4f7;
}

#option {
    font-family: monospace;
    width: 75%;
    height: 220px;
    margin: 0 auto;
    background-color: #ececec;
    border-radius: 5px;
    padding: 20px;
}
/* Стилізація textarea */
#textareaBlock {
    display: none;
    height: 85%;
}

#textarea {
    padding: 20px;
    text-align: left;
    width: 100%;
    height: 85%;
    margin-bottom: 10px;
}
/* Стилізація кнопки add */
#add {
    color: white;
    background-color: red;
}

#add:hover {
    box-shadow: 0px 0px 10px red;
}
/* Стилізація кнопки save */
#save {
    color: white;
    background-color: green;
}

#save:hover {
    box-shadow: 0px 0px 10px green;
}

#styles {
    display: none;
    position: relative;
}

#styles p {
    margin-bottom: 5px;
}

#styles fieldset {
    border: none;
}

.radioButton {
    margin-bottom: 5px;
    margin-right: 10px;
}

#select {
    font-family: monospace;
    margin-bottom: 5px;
}

#styles button {
    font-family: monospace;
    margin-bottom: 5px;
    background-color: rgb(153, 152, 152);
    color: white;
    width: auto;
    padding: 5px;
}

#styles button:hover {
    box-shadow: 0px 0px 10px gray;
}
/* Палітра 1 */
#colorBlockForFont {
    width: 160px;
    height: 160px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 20%;
    bottom: 5%;
    display: none;
}

.blockFF {
    width: 53px;
    height: 33%;
    font-size: 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    color: transparent;
}
/* Палітра 2 */
#colorBlockForBgr {
    width: 262px;
    height: 200px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 20%;
    top: -5%;
    display: none;
}

.blockBg {
    width: 86px;
    height: 33%;
    font-size: 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    color: transparent;
}