@font-face {
    font-family: digital-7;
    src: url(./digital-7.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: digital-7;
    
    font-size: 20px;
    color: #00defc;
    background-color: black;
}

body {
    width: 100vw;
    height: 100vh;
}

.fullTime {
    width: 100%;
    height: 33%;
    border: 1px solid gray;
}

.fullDate {
    width: 130px;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 25px;
}

.time {
    width: 350px;
    height: 90px;
    margin: 0 auto;
    font-size: 120px;
}

.stopWatch {
    width: 100%;
    height: 33%;
    border: 1px solid gray;
    display: flex;
}

.secondControll {
    width: 100%;
    height: 33%;
    background-color: darkmagenta;
}

.showResultLoop {
    width: 100%;
    height: 33%;
    background-color: black;
}

.timerProperties {
    width: 100%;
    height: 33%;
    border: 1px solid gray;
    display: flex;
}

.chooseTime {
    width: 100%;
    height: 33%;
    background-color: rgb(255, 0, 157);
}

.timer {
    width: 100%;
    height: 33%;
    background-color: rgb(8, 18, 107);
}